.navbar-container {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid white;

  h1 {
    color: greenyellow;
    cursor: pointer;
    font-size: clamp(24px, 1.667vw, 32px);
  }

  .link-container {
    margin-left: auto;
    display: flex;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      white-space: nowrap;

      &:hover {
        color: greenyellow;
      }
    }
  }
}
