.create-container {
  max-width: 400px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: lightgreen;
    margin-bottom: 30px;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: block;
    outline: none;

    &:focus {
      border: 1px solid lightgreen;
    }
  }

  button {
    background: lightgreen;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}
